.header{
    display: flex;
    /* justify-content: flex-end; */
    background-color: green;
    width: auto;
    height: 100px;
    /* padding: 40px; */
 }
.button_position{
    padding-top : 30px;
    margin : 0 10px 0 10px; 
} 
.header_buttons {
    display:flex;
    justify-content: flex-end;
}
.header_uploader{
    display: flex;
    padding-top : 30px;

}