.header{
    display: flex;
    /* justify-content: flex-end; */
    background-color: rgb(214, 71, 27);
    width: auto;
    height: 100px;
    /* padding: 40px; */
 }
.button_position{
    padding-top : 30px;
    margin : 0 10px 0 10px; 
} 
.header_buttons {
    display:flex;
    justify-content: flex-end;
}
.modal_window{
    margin-left: 35%;
    height: 200px;
    width: 300px;
    background-color: #7FFFD4;
}